
<style>
    .btn-toggle {
        display: inline-flex;
        align-items: center;
        padding: 5px;
        font-weight: 600;
        color: rgba(0, 0, 0, .65);
        background-color: transparent;
        border: 0;
        width: 100%;
    }

        .btn-toggle:hover,
        .btn-toggle:focus {
            color: rgba(0, 0, 0, .85);
            background-color: #d2f4ea;
        }

        .btn-toggle::before {
            width: 1.25em;
            line-height: 0;
            content: ">";
            transition: transform .35s ease;
            transform-origin: .5em 50%;
        }

        .btn-toggle[aria-expanded="true"] {
            color: rgba(0, 0, 0, .85);
        }

            .btn-toggle[aria-expanded="true"]::before {
                transform: rotate(90deg);
            }

    .btn-toggle-nav a {
        display: inline-flex;
        padding: 5px 5px 5px 20px;
        text-decoration: none;
        width: 100%;
        color: inherit;
    }

        .btn-toggle-nav a:hover,
        .btn-toggle-nav a:focus {
            background-color: #d2f4ea;
        }

    .sidebar {
        width: 250px;
        position: absolute;
    }
</style>
<script>
    /* global bootstrap: false */
    (function () {
        'use strict'
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()
</script>

@using K8sLogStreaming.Models
@using k8s
@using k8s.Models
@inject IKubernetes _kubeClient
@{
    var podNameList = (await _kubeClient.ListPodForAllNamespacesAsync()).Items.Where(obj => obj.OwnerReferences().Count() == 0).Select(obj => new K8sSimpleObj { MetaName = obj.Metadata.Name, Namespace = obj.Metadata.NamespaceProperty });
    var deploymentNameList = (await _kubeClient.ListDeploymentForAllNamespacesAsync()).Items.Select(obj => new K8sSimpleObj { MetaName = obj.Metadata.Name, Namespace = obj.Metadata.NamespaceProperty });
    var daemonSetsNameList = (await _kubeClient.ListDaemonSetForAllNamespacesAsync()).Items.Select(obj => new K8sSimpleObj { MetaName = obj.Metadata.Name, Namespace = obj.Metadata.NamespaceProperty });
    var statefulSetsNameList = (await _kubeClient.ListStatefulSetForAllNamespacesAsync()).Items.Select(obj => new K8sSimpleObj { MetaName = obj.Metadata.Name, Namespace = obj.Metadata.NamespaceProperty });
    var cronJobsNameList = (await _kubeClient.ListCronJobForAllNamespacesAsync()).Items.Select(obj => new K8sSimpleObj { MetaName = obj.Metadata.Name, Namespace = obj.Metadata.NamespaceProperty });
}

<div class="sidebar">
    <ul class="list-unstyled">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#pod-collapse" aria-expanded="true">
                Pod
            </button>
            <div class="collapse show" id="deployment-collapse">
                <ul class="btn-toggle-nav list-unstyled small">
                    @foreach (var k8SSimpleObj in deploymentNameList)
                    {
                        <li><a href="/LogStream/@k8SSimpleObj.Namespace/@V1Pod.KubeKind/@k8SSimpleObj.MetaName">@k8SSimpleObj.MetaName</a></li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#deployment-collapse" aria-expanded="true">
                Deployment
            </button>
            <div class="collapse show" id="deployment-collapse">
                <ul class="btn-toggle-nav list-unstyled small">
                    @foreach (var k8SSimpleObj in deploymentNameList)
                    {
                        <li><a href="/LogStream/@k8SSimpleObj.Namespace/@V1Deployment.KubeKind/@k8SSimpleObj.MetaName">@k8SSimpleObj.MetaName</a></li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#daemonsets-collapse" aria-expanded="true">
                Daemon Sets
            </button>
            <div class="collapse show" id="daemonsets-collapse">
                <ul class="btn-toggle-nav list-unstyled small">
                    @foreach (var k8SSimpleObj in daemonSetsNameList)
                    {
                        <li><a href="/LogStream/@k8SSimpleObj.Namespace/@V1DaemonSet.KubeKind/@k8SSimpleObj.MetaName">@k8SSimpleObj.MetaName</a></li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#statefulsets-collapse" aria-expanded="true">
                Stateful Sets
            </button>
            <div class="collapse show" id="statefulsets-collapse">
                <ul class="btn-toggle-nav list-unstyled small">
                    @foreach (var k8SSimpleObj in statefulSetsNameList)
                    {
                        <li><a href="/LogStream/@k8SSimpleObj.Namespace/@V1StatefulSet.KubeKind/@k8SSimpleObj.MetaName">@k8SSimpleObj.MetaName</a></li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#cronjobs-collapse" aria-expanded="true">
                Cron Jobs
            </button>
            <div class="collapse show" id="cronjobs-collapse">
                <ul class="btn-toggle-nav list-unstyled small">
                    @foreach (var k8SSimpleObj in cronJobsNameList)
                    {
                        <li><a href="/LogStream/@k8SSimpleObj.Namespace/@V1CronJob.KubeKind/@k8SSimpleObj.MetaName">@k8SSimpleObj.MetaName</a></li>
                    }
                </ul>
            </div>
        </li>
    </ul>
</div>
